@import 'variable';
@import "mixins";
@import "reset";
@import 'layout';
@import 'capitel';

a {
  &.button{

    margin:50px 0 50px 0;
    display: inline-block;
    background-color: map-get($my-color, color-button);
    color:map-get($my-color, color-button-text);
    text-transform:uppercase;
    font-size: 1.5rem;
    font-stretch: ultra-condensed;
    text-decoration: none;
    padding: 20px;
  }

  &:after {
    content: "►";
  }
  }
.cards {
  height: 50rem;
  width: 100%;
  @include flex-box(flex,space-between, center);

  a{
    width:50em;
    color:map-get($my-color, color-button-text);
    text-decoration: none;
    text-shadow: -7px -2px 37px rgba(0,0,0,0.6);
        h2{
      position:relative;
      top:200px;
      padding-left:50px;
      font-size: 3rem;
          width: 30rem;
    }
  .article-1 {
    background-image: url("../images/white-box.jpg");
    background-position: center;
    background-repeat: no-repeat;
    @include box(100%,100%);
    background-size: cover;


  }}
  a{
    .article-2{
      @extend .article-1;
      background-image: url("../images/room.jpg");
      grid-area: room;
    }
  }
  a{
    .article-3{
      @extend .article-1;
      background-image: url("../images/black-white.jpg");
      grid-area: black-white;
    }
  }



}
