@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');
@import 'variable';
@import "mixins";
@import "reset";
@import 'layout';
@import 'capitel';
.hero{
a {
  &.button{

    margin:50px 0 50px 0;
    display: inline-block;
    background-color: map-get($my-color, color-button);
    color:map-get($my-color, color-button-text);
    text-transform:uppercase;
    font-size: 1.5rem;
    font-stretch: ultra-condensed;
    text-decoration: none;
    padding: 20px;
  }

  &:after {
    content: "►";
  }
  }}
.cards {

  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
  a{
    width:35rem;
    height: 40rem;
    color:map-get($my-color, color-button-text);
    text-decoration: none;
    text-shadow: -7px -2px 37px rgba(0,0,0,0.6);
        h2{
      position:relative;
      top:50px;
      left:20px;
      font-size: 3rem;
          width: 30rem;
    }
    img{
        position: relative;
        top:100px;
        left:20px;
      background-color: white;
      border-radius:50%;
      box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 30%);
      height:2rem;
      &:hover {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 50%);
      }
    }
  .article-1 {
    background-image: url("../images/white-box.jpg");
    background-position: center;
    background-repeat: no-repeat;
    @include box(100%,100%);
    background-size: cover;
    padding: 8rem 2rem;

    }


  }
  a{
    .article-2{
      @extend .article-1;
      background-image: url("../images/room.jpg");
      background-position: left;
    }
  }
  a{
    .article-3{
      @extend .article-1;
      background-image: url("../images/black-white.jpg");


    }
  }
}


  .cards{
    a .article-1,  a .article-2, a .article-3{
flex:100%;
    }
  }

footer{
  @include flex-box(flex, center, center);
  margin-top:200px;

}

.hamburger{
  display:none;
  span{
    display:block;
    height:5px;
    width:20px;
    margin:5px auto;
    background-color: #000;
    color:pink;
  }
}
@media (max-width: 720px) {
 header {
   flex-direction: column;
   align-items: flex-start;
   div {
     margin-left: 0.9rem;
   }
 }}

@media only screen and (max-width:768px){
  header{
    nav{
      ul{
        position:fixed;
        left:100%;
        flex-direction: column;
        width:100%;
        text-align:center;
      }
      .hamburger{
        display:block;
      }
    }
  }
}       //wift-width, screen pro tablet, mobil,desktop